
/* Sidebar */
.sidebar {
    -fx-background-color: -color-sidebar;
    -fx-border-color: transparent -color-border transparent transparent;
    -fx-border-width: 1;
}

/* Logo */
.logo-text {
    -fx-text-fill: -color-primary;
    -fx-font-size: 22px;
    -fx-font-weight: 900;
    -fx-font-family: "Plus Jakarta Sans";
}
.logo-subtext {
    -fx-text-fill: -color-text-muted;
    -fx-font-size: 11px;
}

/* Menu Item */
.menu-item {
    -fx-padding: 12 15;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-alignment: center-left;
    -fx-spacing: 12;
    -fx-transition: all 0.3s;
}

.menu-item:hover {
    -fx-background-color: #151515;
}

.menu-text {
    -fx-text-fill: -color-text-muted;
    -fx-font-size: 15px;
    -fx-font-family: "Plus Jakarta Sans";
    -fx-font-weight: 600;
}



.icon {
    -fx-fill: -color-text-muted;
}

.menu-item.active {
    -fx-background-color: -color-primary;
}

.menu-item.active .icon {
    -fx-fill: black;
}
.menu-item.active .menu-text {
     -fx-text-fill: black;
}

/* Profile Card */
.profile-card {
    -fx-background-color: -color-card;
    -fx-padding: 15;
    -fx-background-radius: 12;
}

.avatar-circle {
    -fx-stroke: -color-primary;
    -fx-stroke-width: 2;
}

.user-name {
    -fx-text-fill: -color-primary;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.user-rank {
    -fx-text-fill: -color-text-muted;
    -fx-font-size: 11px;
}

/* Button */
.btn-primary {
    -fx-background-color: -color-primary;
    -fx-text-fill: black;
    -fx-font-weight: 800;
    -fx-background-radius: 20;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #e07e00;
}