.profile-root {
    -fx-background-color: transparent;
    -fx-min-height: 760;
    -fx-padding: 30;
}

.profile-header {
    -fx-background-color: rgba(30, 30, 30, 0.65);
    -fx-background-radius: 15;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 15;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 20, 0, 0, 10);
    -fx-padding: 25;
}

.profile-avatar {
    -fx-fill: rgba(255, 255, 255, 0.1);
    -fx-stroke: rgba(255, 255, 255, 0.5);
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 5);
}

.profile-title {
    -fx-text-fill: white;
    -fx-font-size: 40;
    -fx-font-weight: 800;
    -fx-font-family: "Consolas";
}

.profile-subtitle {
    -fx-text-fill: #cccccc;
    -fx-font-size: 18;
    -fx-font-family: "Consolas";
}