.KhungItem{
    -fx-background-color: -color-sidebar;
    -fx-background-radius: 10;
}

.KhungItem:hover{
    -fx-background-color: -color-bg-hover;
}

.MainText{
    -fx-text-fill: -mainText;
    -fx-font-weight: 800;
}

.SubText{
    -fx-text-fill: -subText;
    -fx-font-weight: 400;
}


