.root { -fx-font-family: "Consolas"; }

.glass-card-item {
    -fx-background-color: rgba(40, 40, 40, 0.7);
    -fx-background-radius: 25;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-radius: 25;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-transition-duration: 0.3s;
}

.glass-card-item:hover {
    -fx-background-color: rgba(55, 55, 55, 0.85);
    -fx-border-color: #007aff;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 122, 255, 0.3), 15, 0, 0, 0);
}

.image-container-mac {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 20;
}

.item-name-mac { -fx-text-fill: white; -fx-font-weight: 900; -fx-font-size: 18px; }
.item-desc-mac { -fx-text-fill: #bbbbbb; -fx-font-size: 13px; }
.label-sm-gray { -fx-text-fill: #888888; -fx-font-size: 10px; -fx-font-weight: bold; }

.price-val-cyan {
    -fx-text-fill: #00d4ff;
    -fx-font-weight: 900;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 212, 255, 0.3), 5, 0, 0, 0);
}

.timer-val-orange {
    -fx-text-fill: #ffaa00;
    -fx-font-weight: 900;
    -fx-font-size: 18px;
}