.root {
    -fx-font-family: "Consolas";
}

.glass-panel-item-blue {
    -fx-background-color: rgba(20, 20, 20, 0.75);
    -fx-background-radius: 20;
    -fx-border-color: rgba(0, 122, 255, 0.35);
    -fx-border-radius: 20;
    -fx-border-width: 1.5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 122, 255, 0.25), 30, 0, 0, 0);
}

.form-title-mac {
    -fx-text-fill: white;
    -fx-font-weight: 900;
    -fx-font-size: 26px;
}

.form-sub-title-mac {
    -fx-text-fill: #007aff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.input-mac-blue, .date-mac, .combo-mac {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-control-inner-background: rgba(0, 0, 0, 0.3);
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-radius: 8;
    -fx-prompt-text-fill: #666666;
    -fx-padding: 8;
}

.input-mac-blue .content {
    -fx-background-color: transparent;
}

.date-mac .text-field, .combo-mac .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #666666;
}
.date-mac .arrow-button, .combo-mac .arrow-button {
    -fx-background-color: transparent;
}

.date-mac .arrow-button .arrow, .combo-mac .arrow-button .arrow {
    -fx-background-color: #888888;
}


.input-mac-blue:focused, .date-mac:focused, .combo-mac:focused {
    -fx-border-color: #007aff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 122, 255, 0.4), 10, 0, 0, 0);
}

.image-frame-mac {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 12;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-radius: 12;
}

.btn-primary-mac {
    -fx-background-color: linear-gradient(to right, #007aff, #00d4ff);
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-padding: 10 20;
}

.btn-secondary-mac, .btn-cancel-mac {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-cursor: hand;
    -fx-padding: 8 15;
}

.btn-cancel-mac:hover {
    -fx-text-fill: #ff2a6d;
    -fx-border-color: #ff2a6d;
}

.label-sm { -fx-text-fill: #888888; -fx-font-size: 11px; }
.status-label { -fx-text-fill: #00ff00; -fx-font-size: 13px; }
.input-mac-blue .scroll-pane,
.input-mac-blue .scroll-pane .viewport,
.input-mac-blue .scroll-pane .content {
    -fx-background-color: transparent;
}